@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-color: #333;
  --secondary-color: #fafafa;
  --tertiary-color: #f6fbff;
  --quaternary-color: #7d7789;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  line-height: 1.6;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

* {
  box-sizing: border-box;
  /* color: var(--primary-color); */
}

a,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

a {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.font-primary {
  color: var(--primary-color);
}

.font-secondary {
  color: var(--secondary-color);
}

.font-tertiary {
  color: var(--tertiary-color);
}
